body {
    background-color: #FFFFFF;
    margin-left: 50px;
    margin-right: 50px;
}
#world-code {
    background-color: #F7F7F7;

}
#var-x {
    background-color: #F7F7F7; height: 50px;
    justify-content: center;
    font-size: small;
    font-family: Courier;
}